# Python
__pycache__/
*.pyc
*.pyo
*.pyd
# *.env

# Virtual environment
venv/
# env/
.venv/

# Logs
*.log
logs/
# node_modules
node_modules/
# Build / distribution files
build/
dist/
*.egg-info/
*.egg
.env
